@media screen and (max-width: 1440px) {
}

header {
  display: flex;
  justify-content:center;
}

BODY {
  background-image: url("../images/wallpaper.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-color:#F5E8C8;
}

P {
  display: inline;
}

.crystal {
  margin: 50px 3.5% 0px 3.5%;
  width:15%;
}

.crystal:hover {
  opacity: 0.6;
}

.container {
  display:block;
  justify-content: center;
  margin-left:10%;
}

#GoalContainer, #ScoreContainer, #WinsContainer, #LossContainer {
  font-size:48px;
  text-align:right;
  margin-right:47%;
}
